*{
  margin:0;
  padding:0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero{
  width: 100%;
  min-height: 100vh;
  background-image: url(../../../assets/download.jfif);
  background-position: center;
  background-size: cover;
  padding: 10px 10%;
  overflow: hidden;
  position: relative;

}

.hero h2{
  font-size: 70px;
  color:antiquewhite;
  padding-top: 70px;
  font-style: oblique;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero p{
  margin: 10px 0 30px;
  color:antiquewhite;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

}

.feature-img{
  width:850px;
  position: absolute;
  bottom: 200px;
  right:2%;
  padding-top: 300px;
  padding-right: 10%;
  padding-bottom: 50px;
  padding-left: 80px;

}







