
        <link rel="stylesheet" href="home.component.css">
        <div class="hero">
            <div>
                <h2 style="text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow">Welcome<br>To<br>Drop Along</h2>
                <br/>
                <p>'Your one step solution to smoother rides'</p>
                <p style="font-size: small; font-family:Arial, Helvetica, sans-serif;">
                Drop along helps to facilitate the residents of a colony offer rides and share their car space for reasonable amount. 
                <br>Drop Along not only ensures the safety of the colony residents but also improves social bonding among the commuters.
                <br>Hence esnuring an eco-friendly and sustainable environment.</p>
            </div>
            <div>
                <img  src="../../../assets/[removal.ai]_3e5fe007-4c03-4a81-bc9f-efcc699c1420-creating-a-parking-app-from-a-to-z-guide.png" class="feature-img">
            </div>
        </div>
        
